*{
    padding: 0;
    margin: 0;
    font-family: "Montserret";
    box-sizing: border-box;
}
    .nav-bar{
    height: 60px;
    width:100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(199, 196, 196);
    }
    #id{
        height: 20px;
        width: 18%;
    }
    .nav-cart i{
        font-size: 55px;
    }
    .icon{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 4px;
    }
    .nav-search{ 
        width: 40%;
        display: flex;
        justify-content: center;
        /* border: 2px solid black; */
    }
    #sea{
        height: 40px;
        width: 100%;
        padding-left: 10px;
        border-radius: 4px;
        
    }
    .nav-logo{
        color: #25292b;
        font-family: 'Times New Roman';
       font-size: 20px;
    }
    .nav-logo span{
    color: #00b5b7;
    }
    .nav-login{
    height: 35px;
    width: 6%;
    border: 2px solid  #00b5b7;;
    background-color: #00b5b7;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding-top: 4px;
    }
    .panel1{
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        color: rgb(130, 123, 123);
        background-color: #FFFFFF;
    }
    .panel22{
        height: 30px;
        width: 11%;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        border-radius: 4px;
        padding-top: 5px;
    }
    .panel22 i{
    padding-top: 3px;
    padding-right: 4px;
    }
    #panel2
    {
        display: flex;
        justify-content: space-evenly;
        background-color: #FFFFFF;
        height: 30px;
        width: 77%;
       color: rgb(130, 123, 123); 
       margin-right: 20px;
       margin-top: 15px;
    }
    .icon{
        font-size: small;
        color: #00b5b7;
    }
    .highlight{
        font-weight: 500;
        font-size: medium;
        color: black;
    }
    #main{
        height: 1230px;
        width: 100%;
        padding-left: 160px;
        padding-right: 70px;
        background-color: #FFFFFF;
        margin-top: 10px;
    display: flex;
    border-bottom: 4px solid rgb(194, 190, 190) ;
    }
    .photosection{
        height: 100%;
        width:6%;
        background-size: cover;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 15px;
    }
   #ret1
   {
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;
 margin-top: 15px;
   }
   #ret2
   {
    border: 1px solid rgb(138, 135, 135);
    border-radius: 3px;
    margin-top: 15px;
   }
   #ret3
   {
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;
    margin-top: 15px;
   }
   #ret4
   {
    border: 1px solid rgb(138, 135, 135);
    border-radius: 5px;
    margin-top: 15px;
   }
   .mainimg{
    border: 2px solid rgb(245, 243, 243);
    border-radius: 15px;
    margin-left: 12px;
    height: 500px;
   }
   .photomain
   {
    margin-left: 15px;
    flex-direction: column;
   }
   #main2{
    height: 180px;
    width: 100%;
    border: 1px solid rgb(194, 190, 190);
    border-radius: 10px;
    margin-top: 35px;
   }
   #benfits
   {
    background-color: #FFFFFF;
    height: 35px;
    width: 100%;
    padding-left: 10px;
    color:black;
    padding-top: 12px;
    border-bottom: 1px solid rgb(199, 196, 196);
    font-size: 18px;
   }
 #iou
   {
    background-color: rgb(199, 196, 196);
    height: 142.8px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    color:rgb(96, 95, 95)
   }
   #iou p{
    padding-top: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   }
   #main3
   {
    height: 100%;
    width: 30%;
    margin-left: 40px;
    flex-direction: column;
   }
  #content p
   {
    color: #00b5b7;
    padding-top: 10px;
   }
   #content p span
   {
    color: rgb(138, 135, 135);
   }
   #content h4{
    padding-top: 20px;
    font-size: 23px;
   }
   #main3icons
   {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
   }
   #Reviews
   {
    font-size: 18px;
   }
   #Reviews span
   {
        color: rgb(157, 153, 153);
        font-size: 15px;
   }
   #icod
   {
    font-size: 18px;
   }
   .prices
   {
    margin-top: 13px;
    margin-left: 5px;
   }
   #underline
   {
    color: rgb(157, 153, 153);
    text-decoration: line-through;
   }
   #pricemiddle
   {
        margin-top: 5px;
   }
   #pricetag
   {
   color: black;
   font-size: 20px;
   }
   #pricetag span
   {
    font-size: 12px;
    color: #00b5b7;
   }
   #downline
   {
    font-size: 12px;
    color: #00b5b7;
   }
   #premimum
   {
    height: 30px;
    width: 55%;
    border: 1px solid rgb(157, 153, 153);
    color: rgb(44, 43, 43);
    border-radius: 3px;
    text-align: center;
    padding-top: 2px;
    margin-top: 15px;
    background-color: rgb(230, 225, 225);
    font-size: 16px;
   }
   #interest
   {
    margin-top: 18px;
    font-size: 17px;
    padding-right: 5px;
   }
   .infoboxes
   {
    height: 60px;
    width: 80%;
    margin-top: 15px; 
    display: flex;
    justify-content: space-evenly;
   }
#box1
{
    height: 35px;
    width: 30%;
    border: 2px solid rgb(143, 139, 139);
   display: flex;
   border-radius: 5px;
}
#minus
{
    height: 100%;
    width: 30%;
    color: rgb(157, 153, 153);
    background-color: rgb(199, 196, 196);
    font-size: 25px;
    text-align: center;
}
#number
{
    height: 100%;
    width: 40%;
    background-color: #FFFFFF;
    color: #00b5b7;
    font-size: 18px;
    padding-top: 6px;
    text-align: center;
}
#plus
{
    height: 100%;
    width: 30%;
    color: rgb(107, 107, 107);
    background-color: rgb(199, 196, 196);
    font-size: 23px;
    padding-top: 3px;
    text-align: center;
}
#box2
{
    text-align: center;
    font-size: 17px;
    padding-top: 6px;
    margin-bottom: 5px;
    color: orange;
    border: 1px solid orange;
    background-color: rgb(250, 226, 181);
    height: 40px;
    width: 60%;
    border-radius: 5px;
    margin-left: 10px;
}
#box3
{
    text-align: center;
    font-size: 18px;
    background-color: orange;
    color: #FFFFFF;
    height: 38px;
    margin-left: 10px;
    width: 60%;
    border: 1px solid orange;
    border-radius: 5px;
    padding-top: 5px;
}
#weight
{
    height: 30px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
#weight p{
    font-size: 19px;
}
#smallbox
{
    height: 28px;
    width: 30%;
    border: 1px solid #00b5b7;
    display: flex;
    border-radius: 2px;
}
#kg
{
    background-color: #FFFFFF;
    color: rgb(143, 139, 139);
   text-align: center;
   height: 100%;
   width: 50%;
   padding-top: 4px;
}
#lb
{
    background-color: #00b5b7;
    color: #FFFFFF;
   text-align: center;
   height: 100%;
   width: 50%;
   padding-top: 4px;
}
#weightboxes
{
    height: 60px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
#wbox1
{
    height: 40px;
    width: 20%;
    color: black;
    background-color: rgb(230, 225, 225);
    border: 1px solid orange;
    border-radius: 4px;
    text-align: center;
    padding-top: 2px;
}
#wbox1 p{
    color: rgb(194, 190, 190);
    font-size: 12px;
}
#wbox2
{
    height: 40px;
    width: 25%;
    color: rgb(194, 190, 190);
    background-color:rgb(245, 243, 243);
    border: 1px solid rgb(194, 190, 190);
    border-radius: 4px;
    text-align: center;
    padding-top: 7px;
}
#wbox3
{
    height: 40px;
    width: 20%;
    color: rgb(194, 190, 190);
    background-color:rgb(245, 243, 243);
    border: 1px solid rgb(194, 190, 190);
    border-radius: 4px;
    text-align: center;
    padding-top: 7px;
}
#wbox4
{
    height: 40px;
    width: 18%;
    color: black;
    background-color:#FFFFFF;
    border: 1px solid rgb(194, 190, 190);
    border-radius: 4px;
    text-align: center;
    padding-top: 7px;
}
#flavour
{
    margin-top: 25px;
    font-size: 19px;
    margin-left: 40px;
}
#flavourboxset1
{
                 height: 60px;
                width: 90%;
                margin-top: 20px;
                display: flex;
                justify-content: space-evenly;
}
#fbs1
{
    height: 42px;
    width: 45%;
    color: black;
    background-color: rgb(230, 225, 225);
    border: 1px solid orange;
    border-radius: 4px;
    text-align: center;
    padding-top: 9px;
    font-size: 17px;
}
#fbs2
{
    height: 40px;
    width: 30%;
    color: rgb(194, 190, 190);
    background-color:rgb(245, 243, 243);
    border: 1px solid rgb(194, 190, 190);
    border-radius: 4px;
    text-align: center;
    padding-top: 7px;
}
#flavourboxset2
{
    height: 60px;
    width: 60%;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
}
#fbs3
{
    height: 40px;
    width: 60%;
    color: rgb(194, 190, 190);
    background-color:rgb(245, 243, 243);
    border: 1px solid rgb(194, 190, 190);
    border-radius: 4px;
    text-align: center;
    padding-top: 7px;
    margin-left: 25px;
}
#fbs4
{
    height: 40px;
    width: 25%;
    color: black;
    background-color:#FFFFFF;
    border: 1px solid rgb(194, 190, 190);
    border-radius: 4px;
    text-align: center;
    padding-top: 7px;
    margin-left: 3px;
}
#specialoffers
{
    margin-top: 5px;
    font-size: 19px;
    margin-left: 40px;
}
#specialoffers p
{
    color: rgb(199, 196, 196);
    font-size: 14px;
    margin-top: 3px;
}
.offer
{
    height: 40px;
    width: 100%;
    border: 1px solid rgb(157, 153, 153);
    margin-top: 10px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    margin-left: 35px;
}
.offer p span{
    font-size: 12px;
    color: #00b5b7;
}
#delivery
{
    height: 350px;
    width: 100%;
    border: 2px solid rgb(194, 190, 190);
    border-radius: 5px;
    flex-direction: column;
    margin-left:45px;
    margin-top: 35px;
    font-size: 20px;
    padding-left: 6px;
    background-color: rgb(245, 243, 243);
    padding-top: 6px;
    
}
#pincode
{
    padding-left: 34px;
    margin-top: 30px;
    margin-left: 30px;
    height: 40px;
    border-radius: 4px;
}
#delinfo
{
    padding-left: 34px;
    margin-top: 35px;
    line-height: 45px;
    font-size: 17px;
    border-bottom: 2px solid rgb(199, 196, 196);
}
#india
{
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 7px;
    font-size: 16px;
    height: 75px;
    width: 100%;
}
#india p{
    font-size: 20px;
    padding-top: 7px;
}

#content1{
    height: 530px;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 10px;
    border-bottom: 4px solid rgb(194, 190, 190) ;
    
}
#contenthead{
    font-size: 25px;
    padding-left: 70px   ;
    margin-left: 15px;
    margin-bottom: 10px;

}
#ph-section{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;
}
#ph1{
padding-bottom: 14px;
    background-color: #FFFFFF;
    background-size: cover;
    border-image-width: 25px;
    height: 440px;
    width: 23.5%;
    border: 1.5px solid black;
    border-radius: 2.2px;
    text-align: center;
    justify-items: center;
    font-family:  'Times New Roman', Times, serif;
    
}
#ph-cart{
    margin-bottom: 12px; 
     padding-top:10px;
    padding-left: 5px;
    height: 45px;
    width: 60%;
    text-align: center;
    color: rgb(249, 171, 25);
    background-color: rgb(248, 237, 214);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#ph-cart:hover{
    background-color: orange;
    color: white;   
}
#links
{
    height: 190px;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 2px solid rgb(194, 190, 190) ;
}
#linkshead
{
   
    color: black;
    font-size: 19px;
   
}
#linksmain
{
    margin-top: 18px;
    color: #00b5b7;
    line-height: 27px;
}
#exit{
    height: 450px;
    width: 100%;
    background-color: #25292b; 
    color: rgb(241, 231, 231);
   padding-left: 100px;
   padding-right: 100px;
  
}
li{
    list-style: none; 
    
}
.nav-logo1{
    color:white;
    font-family: 'Times New Roman';
   font-size: 20px;
}
.nav-logo1 span{
    color: #00b5b7;
}
#items{
    height: 300px;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    border-bottom: 1px solid #FFFFFF;
}
#items ul span
{
    font-size: 23px;
    line-height: 45px;
}
#items ul li{
    display: flex;
line-height: 30px;
}
#copy{
    padding-top: 18px;
    text-align: center;
}
